html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
}


.hidden
{
	display: none;
}


/* Start of Header/Footer CSS */

.heroImage
{
	height: 510px;
    background-repeat: no-repeat;
    position: relative;
    left: -638px;
    top: -100px;

}

.blackBar
{
	height: 75px;
	width: 2200px;
	left: -610px;
	top: -290px;
	background-repeat: no-repeat;
    background-color: #222222;
    position: relative;
}

.mainNav
{
	width: 700px;
	height: 25px;
	position: absolute;
	top: -5px;
	left: 790px;
}

.mainNav ul
{	display: flex;
	flex-direction: row;
	list-style-type: none;
	padding: 10%;
	margin-top: -45px;
	margin-left: -50px;
}

.mainNav ul li
{
	font-size: 30px;
	font-family: lato;
	letter-spacing: 2px;
}

.mainNav ul li a
{
	color: white;
	text-decoration: none;
	padding: 10px;
}

.mainNav ul li a:hover
{
	color: #e84242;
	padding: 10px;
}

.footer
{
	height: 75px;
	width: 2200px;
	background-repeat: no-repeat;
    background-color: #222222;
    position: relative;
}

.footerNav ul li
{
	font-size: 30px;
	font-family: lato;
	letter-spacing: 2px;
}

.footerNav ul li a
{
	color: white;
	text-decoration: none;
	padding: 10px;
}

.footerNav ul li a:hover
{
	color: #e84242;
	padding: 10px;
}

.footerNav
{
	width: 700px;
	height: 25px;
	position: relative;
	padding-top: 5px;
}

.gamefooterNav
{
	width: 500px;
	height: 25px;
	position: relative;
	padding-top: 5px;
}


.footerNav ul
{	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-left: -50px;
}

.copyright
{
	display: flex;
	margin-top: -10px;
	flex-direction: row;
	position: relative;
	margin-left: 600px;
	font-family: lato;
	color: white;
}

/* Start of Home Page CSS */

.mainBck
{
	background-image: url(../images/pond.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.promoPhoto
{
	background-image: url(../images/promo1.png);
	height: 640px;
	width: 2100px;
	background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: -380px;
    margin-left: -610px;
    margin-bottom: 200px;
}

.contentHeader
{
	font-family: lato;
	font-size: 40px;
	color: white;
	text-align: center;
}

.promoTextHeader
{
	font-family: lato;
	color: white;
	padding-top: 175px;
	margin-left: 25px;
	font-size: 70px;
}

.promoTextHeader2
{
	font-family: lato;
	color: white;
	padding-top: 175px;
	margin-left: 10px;
	font-size: 90px;
}

.promoTextSmall
{
	font-family: lato;
	color: white;
	font-size: 30px;
	margin-top: -10px;
	margin-left: 25px;
}


.homePhotoOne
{
	background-image: url(../images/pokemon3.jpg);
	background-size: cover;
	height: 300px;
	width: 440px;
	background-repeat: no-repeat;
	text-align: center;
}

.homePhotoText
{
	font-family: lato;
	font-size: 30px;
	color: white;
	padding-top: 100px;
	overflow: hidden;
}

.homePhotoTwo
{
	background-image: url(../images/map.jpg);
	background-size: cover;
	height: 300px;
	width: 440px;
	background-repeat: no-repeat;
	text-align: center;
}

.productImages 
{
	margin-top: 100px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

.contentBox
{
	display: flex;
	flex-direction: row;
	height: 200px;
	width: 920px; 
	text-align: center;
	margin-bottom: 300px;
}

.contentText
{
	font-family: lato;
	font-size: 20px;
	color: white
}


/* Start of Game Page CSS */

.gameBlack
{
	background-color: #222222;
}

.mechanicsHeader
{
	text-align: center;
	font-family: lato;
	margin-left: -30px;
	color: white;
	margin-left: -40px;
	font-size: 40px;
	padding-top: 100px;

}

.mapHeader
{
	text-align: center;
	font-family: lato;
	color: white;
	margin-left: -300px;
	font-size: 40px;
	padding-top: 100px;

}

.mechanicsBox
{
	background-image: url(../images/poke_house.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -200px;
    margin-bottom: 70px;
    height: 600px;
    width: 2000px;
    margin-left: -520px;
    text-align: center;
    padding: 0 60 0 60;
}

.mapBox
{
	background-image: url(../images/path.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    height: 600px;
    width: 2200px;
    margin-left: -500px;
    text-align: center;
    padding: 0px 60 0px 60;
}

.mechanicsText
{
	font-family: lato;
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 20px;
	overflow: hidden;
	margin-left: -50px;
	padding-left: 600px;
	padding-right: 600px;
}

.mapText
{
	font-family: lato;
	display: flex;
	flex-direction: row;
	margin-left: -300px;
	color: white;
	font-size: 20px;
	overflow: hidden;
	padding-left: 800px;
	padding-right: 800px;
}

/* Start of Team CSS */

.austinBox
{
	background-image: url(../images/austin.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    height: 600px;
    width: 2200px;
    margin-top: -200px;
    margin-left: -500px;
    text-align: center;
    padding: 0px 60 0px 60;	
}

.patrickBox
{
	background-image: url(../images/patrick.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    height: 600px;
    width: 2200px;
    margin-left: -500px;
    text-align: center;
    padding: 0px 60 0px 60;
}

.patrickText
{
	font-family: lato;
	display: flex;
	flex-direction: row;
	margin-left: -300px;
	color: white;
	font-size: 20px;
	overflow: hidden;
	padding-left: 800px;
	padding-right: 800px;
}

.patrickHeader
{
	text-align: center;
	font-family: lato;
	color: white;
	margin-left: -300px;
	font-size: 40px;
	padding-top: 100px;

}

.austinHeader
{
	text-align: center;
	font-family: lato;
	margin-left: -30px;
	color: white;
	margin-left: -300px;
	font-size: 40px;
	padding-top: 100px;

}

.austinText
{
	font-family: lato;
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 20px;
	overflow: hidden;
	padding-left: 500px;
	padding-right: 800px;
}

.londonBox
{
	background-image: url(../images/fanshawe.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    height: 600px;
    width: 2200px;
    margin-left: -500px;
    text-align: center;
    padding: 0px 60 0px 60;
}

.londonHeader
{
	text-align: center;
	font-family: lato;
	color: white;
	margin-left: -300px;
	font-size: 40px;
	padding-top: 250px;

}

.londonText
{	font-family: lato;
	display: flex;
	flex-direction: row;
	margin-left: -300px;
	color: white;
	font-size: 20px;
	overflow: hidden;
	padding-left: 800px;
	padding-right: 800px;
}


/* Start of Contact CSS */

.contactBck
{
	background-image: url(../images/london.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.contactBox
{
    margin-top: -350px;
    margin-bottom: 50px;
    height: 800px;
    width: 2000px;
    margin-left: -500px;
    text-align: center;
    padding: 0 60 0 60;
}

.Black
{
	background-color: #222222;
	height: 650px;
	width: 850px;
	margin-left: 525px;
	padding-top: 30px;
	margin-top: 500px;
}

input, textarea
{
	display: block;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 50px;
	width: 160px;
	background-color: #efefef;
	border: solid 1px #999;
}

label
{
	color: white;
	font-family: lato;
	margin-left: -630px;
}

#comments
{
	width: 250px;
}

.comments
{
	margin-left: -600px;
}

#submit
{
	margin-top: 50px;
	font-family: lato;
	background-color: #e84242;
	color: white;
}

.map
{
	height: 300px;
	width: 400px;
	position: relative;
	top: -450px;
	margin-top: -1000px;
	margin-left: 400px;
}

.location
{
	font-family: lato;
	font-size: 40px;
	color: white;
	position: relative;
	top: -800px;
	left: 525px;
}